#logo {
    width: 90px
}

#banner > p {
    color: white;
    text-align: center;
}

#banner {
    background-color: black;
}

#logo-container {
    border-top-color: #f9d017;
    border-top-style: solid;
}