.footer {
    margin-top: auto;
}

/*------------- FOOTER-CONTENT CSS ---------------------*/

.footer-content {
    display: flex;
    padding-top: 60px;
    padding-bottom: 12px;
    color: rgba(255,255,255,.8);
    background-color: #222;
}

.footer-content-section {
    flex-grow: 4;
    padding-left: 30px;
}

.footer-content-section > h4 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.policy-links > li {
    margin: 16px 0;
}

ul {
    list-style: none;
    padding-left: 0px;
}

a {
    text-decoration: none;
    color: rgba(255,255,255,.8);
}

.contact-icons > ul > li {
    padding: 8px;
    margin-right: 6px;
    border-style: solid;
    border-width: thin;
    border-radius: 50px;
    display: flex;
}

.contact-icons > ul > li:hover {
    cursor: pointer;
}

.contact-icons > ul > li > svg {
    height: 1.5em;
    width: 1.5em;
}

/* -----------FOOTERBOTTOM CSS-------------- */
.footer-bottom {
    align-items: center;
    background-color: black;
    font-size: .8rem;
    color: white;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.payment-options > ul {
    list-style: none;
    margin: auto;
}

.payment-options > ul > li {
    margin-right: 6px
}

.copyright {
    margin-left: auto;
}