.App {
    font-family: Muli,sans-serif;
    font-style: normal;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.styled-list {
    list-style: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding-top: .5em;
    padding-bottom: .5em;
}

.button-container {
    display: flex;
    align-items: center;
}

.centered {
    justify-content: center;
}

.items-centered {
    align-items: center;
}

.link {
    color: #212121;
    margin: 0 12px 0 12px;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-sizing: inherit;
}

.link > a {
    display: block;
    line-height: 32px;
}

a {
    text-decoration: none;
    color: #212121;
}

.section-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #111;
    font-size: 1.73333rem;
    line-height: 1.6;
    font-weight: 400;
}
