.container {
    display: flex;
    flex-wrap: wrap;
    padding: .5em 0 .5em 0;
}

.button-container {
    display: flex;
    align-items: center;
}

.centered {
    justify-content: center;
}

.link {
    margin: 0 12px 0 12px;
    font-size: 12px;
    font-weight: bold;
    float: left;
    position: relative;
    display: inline-block;
    font-family: Oswald, sans-serif;
    /* font-style: normal; */
    letter-spacing: 1px;
    text-transform: uppercase;
    box-sizing: inherit;
}

.link > a {
    color: #212121;
    display: block;
    text-decoration: none;
    line-height: 32px;
}